<div class = 'event-list-cnt'>

	<ul class = 'event-list-cnt'>
		<li>
			<span>Название</span>
			<span>Дата</span>
			<span>Периодичность</span>
			<span>Владелец</span>
			<span></span>
		</li>
		<% @events.each do |event| %>
			<li>
				<span><%= truncate(event.name, length: 20) %></span>
				<span><%= event.date.strftime('%m-%d-%Y') %></span>
				<span><%= event.periodicity %></span>
				<span><%= event.user.name + ' ' + event.user.second_name %></span>
				<span class = 'event-list-actions-cnt'>

					<%= link_to calendar_event_path(event.id) do %>
						<div class = 'event-list-actions-el document'></div>
					<% end %>

					<% if event.user_id == current_user.id %>
						<%= link_to edit_calendar_event_path(event.id) do %>
							<div class = 'event-list-actions-el pencil'></div>
						<% end %>
						<%= link_to event, method: :delete, data: { confirm: 'Точно удалить?' } do %>
							<div class = 'event-list-actions-el trash'></div>
						<% end %>										
					<% end %>

				</span>
			</li>
		<% end %>
	</ul>

</div>